$bright-blue: hsl(220, 98%, 61%);
$color-gradient-1: hsl(192, 100%, 67%);
$color-gradient-2: hsl(280, 87%, 65%);

$color-light-orange: hsl(0, 0%, 98%);
$color-gray-1: hsl(236, 33%, 92%);
$color-gray-2: hsl(233, 11%, 84%);
$color-gray-3: hsl(236, 9%, 61%);
$color-dark-gray-4: hsl(235, 19%, 35%);

$color-black: hsl(235, 21%, 11%);
$color-dark-blue: hsl(235, 24%, 19%);
$color-light-purple: hsl(236, 33%, 92%);
//$color-gray-1
$color-grayish-blue-1: hsl(234, 11%, 52%);
$color-grayish-blue-2: hsl(233, 14%, 35%);
$color-grayish-blue-3: hsl(237, 14%, 26%);
