.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover--dark {
  background-image: url(../../images/bg-desktop-dark.jpg);
}

.cover--light {
  background-image: url(../../images/bg-desktop-light.jpg);
}
